
.idea/

typescript/*.js
typescript/*.js.map
typescript/**/*.js
typescript/**/*.js.map
!typescript/karma.conf.js
!typescript/spec-main.js

phpspec/bin/
phpspec/vendor/

phpunit/bin/
phpunit/vendor/

**/composer.phar
**/composer.lock
